
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #324975;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

<!-- <div class="sidebar">
    <a class="ct-menu active" href="#home" id="ct-menu-1" >Tổng quan</a>
    <a class="ct-menu" href="#news"        id="ct-menu-2" >Trang chủ</a>
    <a class="ct-menu" href="#contact"     id="ct-menu-3" >Trang cài đặt</a>
    <a class="ct-menu" href="#about"       id="ct-menu-4" >Trang Tài khoản</a>
    <a class="ct-menu" href="#about"       id="ct-menu-5" >Trang Giới thiệu</a>
</div> -->
<!-- 
<div class="ct-body" id="ct-body-1">
    {% include 'dev/templates/index/overview.html'%}
</div>
<div style="display: None" class="ct-body" id="ct-body-2">
    <h2>Trang chủ</h2>
    <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
    <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
    <h3>Resize the browser window to see the effect.</h3>
</div>
<div style="display: None" class="ct-body" id="ct-body-3">
    <h2>Cài đặt</h2>
    <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
    <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
    <h3>Resize the browser window to see the effect.</h3>
</div> -->